@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
}

#nprogress .bar {
  background: #fa7602 !important;
  height: 3px !important;
}
