.page {
  font-family: var(--font-geist-sans);
  padding: 0px;
  margin: 0px;
  width: 100%;
  margin-top: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

