.page {
  font-family: var(--font-geist-sans);
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.hero {
  width: 100%;
  background-image: url("/SatnaSSK_Homeslide_Desktop.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* TABLET HERO*/
@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    background-image: url("/SatnaSSK_Homeslide_Desktop.webp"); 
    background-size: cover;
    background-position: center top; 
    height: 500px;
  }
}

/* MOBILE HERO */

@media (max-width: 768px) {
  .hero {
    background-image: url("/SatnaSSK_Homeslide_Mobile.webp");
    background-size: contain;
    background-position: top center;
    aspect-ratio: auto;
    width: 100vw;
    height: 56.25vw;
  }
}


.icons {
  background-image: url("https://res.cloudinary.com/dddnxiqpq/image/upload/v1753632500/icons_gotiyz.png");
  background-repeat: no-repeat;
  background-position: center;
   background-size: contain;
}

.iconsWrapper {
  width: 100%;
}
.form {
  max-width: 600px;
  margin: auto;
}
