.page {
  font-family: var(--font-geist-sans);
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-height: 80vh;
  margin-top: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;
  background-image: url("https://res.cloudinary.com/dddnxiqpq/image/upload/v1753632505/hero_assn8d.png");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.icons {
  background-image: url("https://res.cloudinary.com/dddnxiqpq/image/upload/v1753632500/icons_gotiyz.png");
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  max-width: 600px;
  margin: auto;
}
