.page {
  font-family: var(--font-geist-sans);
  margin: 0px;
  width: 100%;
  background-color: white;
  margin-top: 12vh;
}

.hero {
  width: 100%;
  background-image: url("https://res.cloudinary.com/dddnxiqpq/image/upload/v1753632505/hero_assn8d.png");
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 8vh;
}

.icons {
  background-image: url("https://res.cloudinary.com/dddnxiqpq/image/upload/v1753632500/icons_gotiyz.png");
  background-repeat: no-repeat;
  background-position: center;
}

.form {
  max-width: 1000px;
  margin: auto;
}
